body {
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;
}
.radix-themes {
    --cursor-button: pointer;

    --default-font-family: "Nunito", sans-serif;
    --default-font-weight: 600;
}